<ion-header class="ion-no-border">
  <ion-toolbar color='light'>
    <ion-buttons slot="start" [routerLink]="['/home']" routerLinkActive="router-link-active">
      <img height="80" width="80" src="assets/icons/home.png" alt="menu">
    </ion-buttons>
    <ion-title>Customers({{customers.length}})</ion-title>
  </ion-toolbar>
</ion-header>

<div class="search-container">
  <ion-item class="search">
    &nbsp;&nbsp;
    <ion-input placeholder="Search..." type="text"></ion-input>
    <ion-icon name="search-outline"></ion-icon>
  </ion-item>
</div>
<ion-content>
  <ng-container [ngTemplateOutlet]="isFetching ? loading : displayResults">
  </ng-container>
  
  <ng-template #displayResults>
    <ng-container [ngTemplateOutlet]="customers.length > 0 ? viewCustomers : noCustomers">
    </ng-container>
  </ng-template>

  <ng-template #viewCustomers>
    <ion-list lines="none" class="ion-text-center">
      <ion-item *ngFor="let customer of customers; let i = index" class="customer">
        <img height="100" width="100" src="assets/icons/icon_{{i%2 == 1 ? 8:9}}.png" />
        <ion-label class="customer">{{ customer.details.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

  <ng-template #loading>
    <customer-loading></customer-loading>
  </ng-template>

  <ng-template #noCustomers>
    <ion-item lines="none" class="ion-text-center">
      <ion-label>No Products found.</ion-label>
    </ion-item>
  </ng-template>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openAddCustomerModal()">
      <ion-icon style="font-size: 35px;" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>