<ion-header class="ion-no-border ion-text-center">
  <ion-toolbar>
    <ion-buttons slot="start" [routerLink]="['/home']" routerLinkActive="router-link-active" >
      <img height="80" width="80" src="assets/icons/home.png" alt="menu">
    </ion-buttons>
    <ion-title>Customers({{customers.length}})</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]='true'>

  <div class="search-container">
    <ion-item class="search">
      &nbsp;&nbsp;
      <ion-input placeholder="Search..." type="text"></ion-input>
      <ion-icon name="search-outline"></ion-icon>
    </ion-item>
  </div>

  <ion-list lines="none" class="ion-text-center">
    <ion-item *ngFor="let customer of customers" class="customer">
      <img height="100" width="100" src="assets/icons/icon_{{item%2 == 1 ? 8:9}}.png" />
      <ion-label class="customer">{{ customer.details.name }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon style="font-size: 35px;" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>