<ion-content class="ion-no-padding scrollable-true">
  <ion-slides *ngIf="slides.length > 0"  pager="true" [options]='sliderOptions'>
    <ion-slide *ngFor="let item of slides">
      <div class="slide">
        <img [src]="item.icon"/>
        <h1 class="description">{{ item.title }}</h1>
        <p class="description">{{ item.description }}</p>
      </div>
    </ion-slide>
  </ion-slides><br><br>
  <div class="button-container">
    <ion-button class="button" color="primary" expand="block" >Sign Up</ion-button>
  </div>
  <div class="button-container">
    <ion-button  class="button" color="medium" expand="block" (click)="login()">
      <ion-label class="label-login">Login</ion-label>
    </ion-button>
  </div>

</ion-content>