.slide {
    padding-top: 100px;
    img {
        height: 280px;
    }
    h1 {
        font-weight: bold;
    }
    p {
        padding-top: 10px;
        font-size: 16px;
        text-align: center;
    }
}

.label-login {
    color: #6b59a6;
}
.button-container {
    padding-top: 5px;
}

.description {
    padding-left: 20px;
    padding-right: 20px;
}
