<ion-content>
  <ion-slides pager="true" [options]='sliderOptions'>
    <ion-slide >
      <div class="slide">
        <img src="assets/icons/icon_1.png" />
        <h1>Gain total control of your money</h1>
        <p>Become your own money manager and make every cent count</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="assets/icons/icon_2.png" />
        <h1>Know where your money goes</h1>
        <p>Track your transactions easily, with categories and financial report</p>
      </div>
    </ion-slide>
    <ion-slide>
      <div class="slide">
        <img src="assets/icons/icon_3.png" />
        <h1>Planning ahead</h1>
        <p>Setup your budget for each category so your in control</p>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="button-container">
    <ion-button color="primary" expand="block" type="submit">Sign Up</ion-button>
    <ion-button class="login-button" color="tertiary" expand="block" type="submit">Login</ion-button>
  </div>

</ion-content>