<ion-header class="">
  <ion-toolbar color='light'>
    <ion-buttons slot="start">
      <ion-menu-button>
        <img height="80" width="80" src="assets/icons/menu.png" alt="menu">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="scrollable-true">
  <ion-list lines="none">
    <ion-item *ngFor="let item of options" routerDirection="root" [routerLink]="[item.url]" detail="false" routerLinkActive="selected">
      <img height="50" width="50" [src]="item.icon" alt="{{ item.title }}">
      <ion-label class="ion-padding-horizontal ion-padding">{{ item.title }}</ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>