.item {
  border-bottom: 1px grey solid;
}

ion-button {
  --border-radius: 25px;
  border-radius: 25px;
  width: 40%;
  height: 55px;

  ion-label {
    color: black;
  }
}
.payment-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
}
