.search-container {
    display: flex;
    align-items: center;
    justify-content: center;

    .search {
        --highlight-color-focused: transparent;
        --padding-start: 0;
        --border-color: #dadada;
        height: 50px;
        width: 80%;
        margin-bottom: 6px;
        border: 2px solid rgb(131, 131, 131);
        border-radius: 25px;
        color: rgb(83, 80, 80);

    }
}

.products {
    padding-left: 10px;
}

img {
    border-radius: 50%;
}
