<ion-menu side="start" menuId="main-menu" contentId="main" type="overlay">
  <ion-header mode="md">
    <ion-toolbar color="primary">
      <ion-row class="drawer-header ion-align-items-center">
        <ion-col size="4">
          <img class="w-full h-full" src="assets/img/happy-hour.png">
        </ion-col>
        <ion-col size="8">
          <p class="profile-name">POS Mobile</p>
          <p class="profile-email">{{currentUser?.unique_name}}</p>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>
  <ion-content>

    <ion-list>
      <ion-item lines="none" *ngFor="let p of accountPages; let i = index" (click)="clickMenu()">
        <ion-icon slot="start" [name]="p.ionicIcon? p.ionicIcon: ''" [src]="p.ionicIcon? p.ionicIcon: ''">
        </ion-icon>
        <ion-label>
          {{p.title}}
        </ion-label>
      </ion-item>
      <ion-item lines="none" (click)="openSettings()">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>
          Settings
        </ion-label>
      </ion-item>
      <ion-item lines="none" (click)="openPrivacyPolicy()">
        <ion-icon slot="start" name="document-lock-outline"></ion-icon>
        <ion-label>
          Privacy Policy
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-footer mode="md">
    <ion-toolbar>
      <ion-item *ngIf="currentUser" button (click)="onLogout()" lines="none">
        <ion-label>Logout</ion-label>
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-item>
      <ion-item *ngIf="!currentUser" button (click)="onLogin()" lines="none">
        <ion-label>Login</ion-label>
        <ion-icon slot="end" name="log-in-outline"></ion-icon>
      </ion-item>
    </ion-toolbar>

  </ion-footer>
</ion-menu>