<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-avatar slot="end">
      <img src="https://scontent.fceb2-1.fna.fbcdn.net/v/t1.18169-9/10647118_327801340758332_2999451663612783021_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=174925&_nc_eui2=AeG5pqCSe3BhsUDvm42J-UwtHdPwtMIvHD8d0_C0wi8cP9d5f0CmtrlVSmwzmbwjUEAwPvOi34ZH5hS4NKGjMSAb&_nc_ohc=-uuCGidbqv4AX9tcZTb&_nc_ht=scontent.fceb2-1.fna&oh=3ad874efa2478da0dd34ef4a0321b8a2&oe=619D7061" />
    </ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <ion-grid>
    <br><br>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col *ngFor="let item of [1,1];let i = index;" size="3" class="ion-text-center">
        <ion-card [routerLink]="['/' + options[i].url]" routerLinkActive="router-link-active">
          <ion-icon name="{{ options[i].icon }}" color="tertiary"></ion-icon>
          <ion-card-title>{{ options[i].name }}</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size="3" ></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3"></ion-col>
      <ion-col *ngFor="let item of [1,1];let i = index;" size="3" class="ion-text-center">
        <ion-card [routerLink]="['/' + options[i + 2].url]" routerLinkActive="router-link-active">
          <ion-icon name="{{ options[i + 2].icon }}" color="tertiary"></ion-icon>
          <ion-card-title>{{ options[i + 2].name }}</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col size="3" ></ion-col>
    </ion-row>
  </ion-grid> -->

  <ion-textarea [(ngModel)]="stringVal" placeholder="Input text here">
    
  </ion-textarea>

  <br><br><br><br>

  <ion-item (click)="connectPrinter(item.address)" *ngFor="let item of list">
    <ion-label>Connect to {{ item.name }}</ion-label>
  </ion-item>
  
  <ion-button (click)="scanPrinters()" expand="block" fill="clear" shape="round">
    Scan
  </ion-button>

  <ion-button (click)="print()" expand="block" fill="clear" shape="round">
    Print
  </ion-button>

  <ion-button (click)="disconnectPrinter()" expand="block" fill="clear" shape="round">
    Disconnect
  </ion-button>
</ion-content>