ion-card {
    min-height: 150px;
    min-width: 150px;
    width: 90%;
    ion-icon {
        font-size: 45px;
        position: absolute;
        top: 40%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
    }
    ion-label {
        font-size: 14px;
        position: absolute;
        top: 85%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
    }
}
