<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="https://logodix.com/logo/1847305.png" />
  </div>

  <form id="form">
    <app-input placeholder="Email"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    <ion-checkbox>
    </ion-checkbox>
    <ion-label> Remember me</ion-label>
    <ion-button (click)="login()" expand="block" shape="round">Login</ion-button>
  </form>
</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding scrollable-true">
  <ion-grid fixed>
    <ion-row>
      <ion-col *ngIf="device_width > 480" size="6">
      </ion-col>
      <ion-col size="{{ device_width > 480 ? '6': '12' }}">
        <div class="ion-padding container ">
          <!-- <div id="header">
            <img src="https://logodix.com/logo/1847305.png" />
          </div> -->
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div  class="form-container">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" formControlName="email" (keydown.space)="$event.preventDefault();"></ion-input>
                <span *ngIf="(f.email.dirty || f.email.touched) && f.email.errors?.required"
                  class="error-message">Required Field.</span>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
                <span *ngIf="(f.password.dirty || f.password.touched) && f.password.errors?.required"
                  class="error-message">Required Field.</span>
                <ion-icon name="eye" slot="end"></ion-icon>
              </ion-item>
              <br>
              <ion-checkbox>
              </ion-checkbox>
              <ion-label style="margin-bottom: 10%;"> Remember me</ion-label>
              <ion-button color="primary" expand="block" class="main-button" type="submit">Log In</ion-button>
  
              <div class="sign-up">
                Don't have an account? <ion-button color="dark" fill="clear" routerLink="/signup"
                  routerDirection="forward">Sign
                  up</ion-button>
              </div>
            </div>
          </form>
          
        </div>
      </ion-col>

    </ion-row>
    <!-- <ion-row>
      <ion-col size="6">
      </ion-col>
      <ion-col size="6">
        <div class="ion-padding container ">
          <div id="header">
            <img src="https://logodix.com/logo/1847305.png" />
          </div>
          <div class="form-container">
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password"></ion-input>
              <ion-icon name="eye" slot="end"></ion-icon>
            </ion-item>
            <br>
            <ion-checkbox>
            </ion-checkbox>
            <ion-label style="margin-bottom: 10%;"> Remember me</ion-label>
            <ion-button color="tertiary" expand="block" class="main-button" (click)="login()">Log In</ion-button>

            <div class="sign-up">
              Don't have an account? <ion-button color="dark" fill="clear" routerLink="/signup"
                routerDirection="forward">Sign
                up</ion-button>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>


</ion-content>